<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fantuan.mapper.FtCashoutMapper">
    
    <resultMap type="FtCashout" id="FtCashoutResult">
        <result property="id"    column="id"    />
        <result property="cashoutId"    column="cashout_id"    />
        <result property="price"    column="price"    />
        <result property="userId"    column="user_id"    />
        <result property="cashoutTime"    column="cashout_time"    />
    </resultMap>

    <sql id="selectFtCashoutVo">
        select id, cashout_id, price, user_id, cashout_time from ft_cashout
    </sql>

    <select id="selectFtCashoutList" parameterType="FtCashout" resultMap="FtCashoutResult">
        <include refid="selectFtCashoutVo"/>
        <where>  
            <if test="cashoutId != null  and cashoutId != ''"> and cashout_id = #{cashoutId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="cashoutTime != null "> and cashout_time = #{cashoutTime}</if>
        </where>
    </select>
    
    <select id="selectFtCashoutById" parameterType="Long" resultMap="FtCashoutResult">
        <include refid="selectFtCashoutVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFtCashout" parameterType="FtCashout" useGeneratedKeys="true" keyProperty="id">
        insert into ft_cashout
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cashoutId != null">cashout_id,</if>
            <if test="price != null">price,</if>
            <if test="userId != null">user_id,</if>
            <if test="cashoutTime != null">cashout_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cashoutId != null">#{cashoutId},</if>
            <if test="price != null">#{price},</if>
            <if test="userId != null">#{userId},</if>
            <if test="cashoutTime != null">#{cashoutTime},</if>
         </trim>
    </insert>

    <update id="updateFtCashout" parameterType="FtCashout">
        update ft_cashout
        <trim prefix="SET" suffixOverrides=",">
            <if test="cashoutId != null">cashout_id = #{cashoutId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="cashoutTime != null">cashout_time = #{cashoutTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFtCashoutById" parameterType="Long">
        delete from ft_cashout where id = #{id}
    </delete>

    <delete id="deleteFtCashoutByIds" parameterType="String">
        delete from ft_cashout where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>